<template>
    <div class="product-params">
        <b-field grouped >
            <b-checkbox v-model="params"
                        native-value="Solt">
                Соль
            </b-checkbox>
            <b-checkbox v-model="params"
                        native-value="Pepper">
                Перец
            </b-checkbox>
            <b-checkbox v-model="params"
                        native-value="Ketchup">
                Кетчуп
            </b-checkbox>
        </b-field>
        <b-field label="Пожелания">
            <b-input v-model="additional" maxlength="40"></b-input>
        </b-field>
    </div>
</template>

<script>
    export default {
        name: 'ProductParams',
        data() {
            return {
                params: ['Solt'],
                additional: ''
            }
        }
    };
</script>
