<template>
    <section class="section is-main-section">
        <b-field grouped group-multiline class="buttons">
            <b-button
                label="Создать"
                type="is-primary"
            />
            <b-button
                label="Операции"
                type="is-primary is-light"
            />
        </b-field>
        <div class="columns">
            <div class="column is-three-quarters">
                <b-table
                    :data="body"
                    :columns="header"
                    ref="multiSortTable"
                    :paginated="isPaginated"
                    :per-page="perPage"
                    :current-page.sync="currentPage"
                    :pagination-simple="isPaginationSimple"
                    :pagination-position="paginationPosition"
                    :default-sort-direction="defaultSortDirection"
                    :pagination-rounded="isPaginationRounded"
                    :sort-icon="sortIcon"
                    :sort-icon-size="sortIconSize"
                    aria-next-label="Next page"
                    aria-previous-label="Previous page"
                    aria-page-label="Page"
                    aria-current-label="Current page"
                    :page-input="hasInput"
                    :pagination-order="paginationOrder"
                    :page-input-position="inputPosition"
                    :debounce-page-input="inputDebounce"
                    :checked-rows.sync="checkedRows"
                    :is-row-checkable="(row) => row.id !== 3 && row.id !== 4"
                    checkable
                    checkbox-position="left"
                    checkbox-type="is-primary"
                    draggable
                    @dragstart="dragstart"
                    @drop="drop"
                    @dragover="dragover"
                    @dragleave="dragleave"
                >
                    <template #empty>
                        <div class="has-text-centered">Нет записей</div>
                    </template>
                </b-table>
            </div>
        </div>


    </section>
</template>

<script>
    import { array_move } from "../../../helpers/array";
    import { sortable } from "./sortable";

    const data = require('../../../testData/userlist.json')
    export default {
        directives: { sortable },
        name: 'ListTable',
        data() {
            return {
                header: data.header,
                body: data.body,
                search: [],
                checkedRows: [],
                isPaginated: true,
                isPaginationSimple: false,
                isPaginationRounded: false,
                paginationPosition: 'bottom',
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',
                currentPage: 1,
                perPage: 12,
                hasInput: false,
                paginationOrder: '',
                inputPosition: '',
                inputDebounce: '',
                draggingRow: null,
                draggingRowIndex: null,
                draggingColumn: null,
                draggingColumnIndex: null,
                sortableOptions: {
                    chosenClass: 'is-selected'
                },
            }
        },
        methods: {
            dragstart(payload) {
                this.$refs.multiSortTable.resetMultiSorting();
                this.draggingRow = payload.row
                this.draggingRowIndex = payload.index
                payload.event.dataTransfer.effectAllowed = 'copy'
            },
            dragover(payload) {
                payload.event.dataTransfer.dropEffect = 'copy'
                payload.event.target.closest('tr').classList.add('is-selected')
                payload.event.preventDefault()
            },
            dragleave(payload) {
                payload.event.target.closest('tr').classList.remove('is-selected')
                payload.event.preventDefault()
            },
            drop(payload) {
                payload.event.target.closest('tr').classList.remove('is-selected');
                const droppedOnRowIndex = payload.index;
                this.body = array_move(JSON.parse(JSON.stringify(this.body)), this.draggingRowIndex, droppedOnRowIndex);
                this.$buefy.toast.open(`Переносим страницу ${this.draggingRow.page_name} из строки ${this.draggingRowIndex + 1} к ${droppedOnRowIndex + 1}`)
            },

            columndragstart(payload) {
                this.draggingColumn = payload.column
                this.draggingColumnIndex = payload.index
                payload.event.dataTransfer.effectAllowed = 'copy'
            },
            columndragover(payload) {
                payload.event.dataTransfer.dropEffect = 'copy'
                payload.event.target.closest('th').classList.add('is-selected')
                payload.event.preventDefault()
            },
            columndragleave(payload) {
                payload.event.target.closest('th').classList.remove('is-selected')
                payload.event.preventDefault()
            },
            columndrop(payload) {
                payload.event.target.closest('th').classList.remove('is-selected')
                const droppedOnColumnIndex = payload.index
                this.$buefy.toast.open(`Moved ${this.draggingColumn.field} from column ${this.draggingColumnIndex + 1} to ${droppedOnColumnIndex + 1}`)
            }
        }
    };
</script>
