<template>
    <div class="mega-menu">
        <b-sidebar
            type="is-light"
            :fullheight="fullheight"
            :fullwidth="fullwidth"
            :overlay="overlay"
            :right="right"
            v-model="open"
        >
            <div class="container py-5">
                <b-field>
                    <b-radio-button v-model="compability"
                                    native-value="all"
                                    type="is-danger is-light is-outlined">
                        <b-icon icon="close"></b-icon>
                        <span>All</span>
                    </b-radio-button>
                    <b-radio-button v-model="compability"
                                    native-value="gg"
                                    type="is-danger is-light is-outlined">
                        <b-icon icon="close"></b-icon>
                        <span>GF- Gluten free</span>
                    </b-radio-button>
                    <b-radio-button v-model="compability"
                                    native-value="v"
                                    type="is-danger is-light is-outlined">
                        <b-icon icon="close"></b-icon>
                        <span>V - Vegtarian</span>
                    </b-radio-button>
                    <b-radio-button v-model="compability"
                                    native-value="vg"
                                    type="is-danger is-light is-outlined">
                        <b-icon icon="close"></b-icon>
                        <span>VG - Vegan</span>
                    </b-radio-button>
                    <b-radio-button v-model="compability"
                                    native-value="df"
                                    type="is-danger is-light is-outlined">
                        <b-icon icon="close"></b-icon>
                        <span>DF - Dairy free</span>
                    </b-radio-button>
                </b-field>
                <div class="columns">
                    <div v-for="menuList in menu" :key="menuList.index" class="column">
                        <b-menu>
                            <b-menu-list :label="menuList.name">
                                <b-menu-item v-for="item in menuList.menu"
                                             :key="item.index"
                                             :label="item.name"
                                             tag="a"
                                             href="#"
                                             aria-role="listitem"
                                ></b-menu-item>
                            </b-menu-list>
                        </b-menu>
                    </div>
                </div>
            </div>
        </b-sidebar>
        <b-button icon-left="bars" icon-pack="fas" type="is-primary" @click="open = true">
            <strong>
                Меню
            </strong>
        </b-button>
    </div>

</template>

<script>
    import Menu from './menu.json'
    export default {
        name: 'MegaMenu',
        data() {
            return {
                compability: 'all',
                menu: Menu,
                open: false,
                overlay: false,
                fullheight: false,
                fullwidth: true,
                right: false
            };
        }
    };
</script>

<style scoped>
    .menu-list a:hover {
        color: var(--primary);
    }
</style>
