<template>
    <div class="review">
        <div class="columns">
            <div class="column">
                <div class="field is-grouped">
                    <div class="field is-flex is-flex-direction-column">
                        <strong>Качество кухни</strong>
                        <b-rate></b-rate>
                    </div>

                    <div class="field is-flex is-flex-direction-column">
                        <strong>Качество обслуживания</strong>
                        <b-rate></b-rate>
                    </div>

                </div>

                <file-pond
                    name="test"
                    ref="pond"
                    label-idle="Поместите ваше фото сюда..."
                    :allow-multiple="true"
                    accepted-file-types="image/jpeg, image/png"
                    server="/api"
                    :files="photos"
                />

                <div class="field is-grouped">
                    <b-field label="Имя">
                        <b-input v-model="name"></b-input>
                    </b-field>

                    <b-field label="Телефон">
                        <b-input type="phone"
                                 v-model="phone"
                                 placeholder="+7 (___) ___-__-__"
                                 pattern="(\+7\s?[(]{0,1}[0-9]{3}[)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2})"
                                 v-mask="'+7 (###) ###-##-##'"
                        >
                        </b-input>
                    </b-field>

                    <b-field style="flex-shrink: 1" label="Имя в соц. сети">
                        <b-input v-model="socName" placeholder="@name"></b-input>
                    </b-field>
                </div>

                <b-field label="Комментарий">
                    <b-input maxlength="200" type="textarea"></b-input>
                </b-field>

                <b-button label="Отправить" icon-left="send" type="is-primary"/>
            </div>
            <div class="column">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Barbara Middleton</strong>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                                <br>
                                <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                            </p>
                        </div>

                        <comment/>

                        <comment/>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    import Comment from "./Comment/Comment";
    export default {
        name: 'Review',
        components: {Comment},
        data() {
            return {
                name: '',
                socName: '',
                phone: '',
                photos: []
            }
        }
    };
</script>

<style>
    .filepond--panel-root {
        border: solid 2px var(--card-bg);
        border-radius: 3px;
    }
    .filepond--credits {
        display: none;
    }
</style>
