<template>
    <b-carousel
        :autoplay="false"
        with-carousel-list
        :indicator="false"
        :overlay="gallery"
        @click="switchGallery(true)">
        <b-carousel-item v-for="(item, i) in items" :key="i">
            <figure class="image mb-2">
                <img :src="item.image" loading="lazy">
            </figure>
        </b-carousel-item>
        <span v-if="gallery" @click="switchGallery(false)" class="modal-close is-large"/>
        <template #list="props">
            <b-carousel-list
                v-model="props.active"
                :data="items"
                v-bind="al"
                @switch="props.switch($event, false)"
                class="thumbs"
                as-indicator />
        </template>
    </b-carousel>
</template>

<script>
    // Slider with thumbs
    import slidesData from '../../../testData/slidesData.json'
    export default {
        name: 'Slider',
        data() {
            return {
                gallery: false,
                al: {
                    hasGrayscale: true,
                    itemsToShow: 2,
                    breakpoints: {
                        960: {
                            hasGrayscale: true,
                            itemsToShow: 4
                        }
                    }
                },
                items: slidesData.items
            }
        },
        methods: {
            switchGallery(value) {
                this.gallery = value
                if (value) {
                    document.documentElement.classList.add('is-clipped')
                } else {
                    document.documentElement.classList.remove('is-clipped')
                }
            }
        }
    }
</script>

<style>
    .carousel-list.thumbs .carousel-slides .carousel-slide {
        padding-left: 0;
        padding-right: 0;
    }
    .carousel-list.thumbs .carousel-slides {
        gap: 0.5rem;
    }

    .carousel.is-overlay .carousel-list.thumbs {
        background: var(--card-bg);
    }
    .carousel.is-overlay .carousel-list.thumbs .carousel-slides {
        gap: 0;
    }

    .image img, .carousel-list.thumbs {
        border-radius: 3px;
        overflow: hidden;
    }

    .carousel-list .carousel-slides .carousel-slide {
        padding: 0;
        border: 0;
    }
</style>
