@import "./vars/index.css";

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 3px solid #ffffff;
}

body {
    min-height: 100vh;
    animation: fadein .2s;
}

#app {
    flex: 1;
}

.vertical-menu {
    width: 100%;
}

.hero-banner {
    .title {
        font-size: 5vw;
        font-family: 'Dancing Script', cursive;
        color: var(--white);
        text-align: center;
    }

    .subtitle {
        font-size: 2vw;
        color: var(--white);
        text-align: center;
    }
}

.banner-offset {
    padding: 20vh 0;
}

.has-background-card {
    background: var(--card-bg);
}

.has-background-banner {
    background: rgba(47, 47, 47, .5);
    box-shadow: inset 0px 2px 20px 3px rgb(19, 20, 24);
    backdrop-filter: blur(3px);
}

.z-minus {
    z-index: -1;
}

.content ul {
    list-style-type: "—   ";
    font-weight: bold;
}

.menu.is-menu-main {
    .menu-list a:not(:hover) {
        color: white;
    }

    .menu-list > li {

        &:hover {
            ul {
                display: block;
            }
        }
    }
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

