<template>
    <div class="columns">
        <div class="column">
            <Monaco
                class="editor"
                v-model="code"
                language="json"
                theme="vs-dark"
            />
        </div>
        <div class="column">
            <vertical-menu/>
        </div>
    </div>

</template>

<script>
    // const handleEditorDidMount = () => {
    //     emmetHTML(window.monaco);
    //     emmetCSS(window.monaco);
    // };

    import pageSettings from '../../../testData/pageSettings.json'
    import VerticalMenu from "../../client/Nav/VerticalMenu/VerticalMenu";
    import Monaco from 'vue-monaco'
    export default {
        components: {
            Monaco,
            VerticalMenu
        },
        name: 'MonacoEditor',
        data() {
            return {
                code: JSON.stringify(pageSettings, null, 2)
            }
        },
        // mounted() {
        //     handleEditorDidMount();
        // }
    };
</script>

<style scoped>
    .editor {
        width: 100%;
        height: 67vh;
    }
</style>
