<template>
    <div class="ListFilter">
        <div class="columns">
            <div class="column is-flex is-align-items-center">
                <span class="mr-2">
                    Сортировать по:
                </span>
                <b-field>
                    <b-select v-model="sortBy">
                        <optgroup label="Цене">
                            <option value="ask">по возрастанию</option>
                            <option value="desk">по убыванию</option>
                        </optgroup>

                        <optgroup label="Названию">
                            <option value="heisenberg">от А-я</option>
                            <option value="jesse">от Я-а</option>
                        </optgroup>
                    </b-select>
                </b-field>
            </div>
            <div class="column is-flex is-align-content-center">
                <b-field class="is-flex is-align-content-center">
                    <b-switch v-model="popularProducts" class="mr-3">
                        Популярные
                    </b-switch>
                    <b-switch v-model="newProducts">
                        Новинки
                    </b-switch>
                </b-field>
            </div>
            <div class="column is-flex is-justify-content-end">
                <b-button
                    icon-left="view-grid"
                    size="medium"
                    class="mx-3"
                    :class="{ 'is-primary': view.grid }"
                    @click="switchMode(view.grid)"
                />
                <b-button
                    icon-left="format-list-bulleted-square"
                    size="medium"
                    :class="{ 'is-primary': view.list }"
                    @click="switchMode(view.list)"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ListFilter',
        data() {
            return {
                sortBy: 'ask',
                popularProducts: true,
                newProducts: false,
                view: {
                    grid: true,
                    list: false
                }
            }
        },
        methods: {
            switchMode(button) {
                if (!button) {
                    for (let i in this.view) {
                        (this.view[i]) ? this.view[i] = false : this.view[i] = true;
                    }
                }
            }
        }
    };
</script>

<style>

</style>
