<template>
    <b-breadcrumb
        size="is-medium"
        separator="has-arrow-separator"
    >
        <b-breadcrumb-item href="/">Home</b-breadcrumb-item>
        <b-breadcrumb-item href="/documentation">Docs</b-breadcrumb-item>
        <b-breadcrumb-item href="/documentation/breadcrumb" active>Breadcrumb</b-breadcrumb-item>
    </b-breadcrumb>
</template>

<script>
    export default {
        name: 'Breadcrumbs'
    };
</script>
