<template>
    <div class="card">
        <div class="card-image">
            <figure class="image is-5by4">
                <a :href="item.link">
                    <img :src="item.image" loading="lazy">
                </a>
            </figure>
            <b-tag type="is-danger is-medium"
                   v-if="item.sale"
                   rounded
                   style="position: absolute; top: 10px; left: 10px"
            >
                <b>{{ item.sale }}%</b>
            </b-tag>
        </div>
        <div class="card-content has-background-dark">
            <div class="content has-text-white">
                <p class="title has-text-white mb-5 is-6">{{ item.title }}</p>
                <p class="subtitle has-text-white is-7">{{item.text}}</p>
                <b-field grouped >
                    <p class="control" v-if="item.rating">
                        <b-rate :value="item.rating" show-score disabled/>
                    </p>

                </b-field>
                <b-field grouped >
                    <product-actions buyText=""/>
                    <p class="control is-size-4 is-medium" style="margin-left: auto">
                        {{ item.price }}
                        <b-icon icon="currency-usd"/>
                    </p>
                </b-field>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ProductCard',
        props: {
            item: {
                title: String,
                image: String,
                rating: Number,
                price: Number,
                text: String,
                sale: Number,
                link: String,
            }
        },
        data() {
            return {
                test: 0
            }
        },
        methods: {
            info(value) {
                this.test = value
            }
        }
    };
</script>

<style>

</style>
