<template>
    <card-modal/>
</template>

<script>
    import CardModal from "../CardModal";
	export default {
		name: "OneClick",
        components: {CardModal}
	}
</script>

<style scoped>

</style>
