@import './bulma-generated/generated-fallbacks.css';
@import './bulma-generated/generated-vars.sass';
@import '../../node_modules/bulma-css-vars/bulma-cv-lib';

aside.aside.is-expanded {
  overflow-y: auto;
  max-height: 100vh;
}
