<template>
    <div class="container">
        <b-tabs v-model="activeTab" size="is-medium" class="block">
             <b-tab-item label="Авторизация" icon="lock">
                <Auth/>
            </b-tab-item>
            <b-tab-item label="Регистрация" icon="plus">
                <Register/>
            </b-tab-item>
        </b-tabs>
    </div>
</template>

<script>
	import Auth from "./Auth/Auth";
    import Register from "./Register/Register";
    export default {
		name: "UserForm",
        components: {Register, Auth},
        data() {
            return {
                activeTab: 0,
                showReg: false
            }
        }
    }
</script>

<style scoped>

</style>
