<template>
    <form action="">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Восстановление пароля</p>
                <button
                    type="button"
                    class="delete ml-3"
                    @click="$emit('close')"/>
            </header>
            <div class="modal-card-body">
                <b-field label="Email">
                    <b-input
                        type="email"
                        :value="email"
                        placeholder="Your email"
                        required>
                    </b-input>
                </b-field>
            </div>
            <footer class="modal-card-foot">
                <b-button
                    label="Отправить"
                    type="is-primary" />
            </footer>
        </div>
    </form>
</template>

<script>
    export default {
        name: 'CardModal'
    };
</script>
