<template>
    <b-tabs v-model="activeTab" size="is-medium" class="block">
        <b-tab-item label="Популярные товары" icon="lock">
            <with-cards/>
        </b-tab-item>
        <b-tab-item label="Популярные категории" icon="plus">

        </b-tab-item>
    </b-tabs>
</template>

<script>
    import WithCards from "../Carousel/WithCards/WithCards";
    export default {
        name: 'Popular',
        components: {WithCards},
        data() {
            return {
                activeTab: 0,
                showReg: false
            }
        }
    };
</script>
