<template>
    <div class="tile is-vertical is-9">
        <list-filter class="mb-5"/>
        <div class="columns is-flex-wrap-wrap">
            <div class="column is-one-third" v-for="item in list" :key="item.index">
                <product-card :item="item"/>
            </div>
        </div>
    </div>
</template>

<script>
    import catalog from "../../../../testData/catalog.json"
    import ProductCard from "../ProductCard/ProductCard";
    export default {
        name: 'ProductList',
        components: {ProductCard},
        data() {
            return {
                list: catalog.items
            }
        }
    };
</script>
