.modal-close::before,
.delete::before,
.modal-close::after,
.delete::after {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

html {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

body {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

strong {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

pre {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

table th {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.box {
  background-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button {
  background-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-text {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-text:hover,
.button.is-text.is-hovered,
.button.is-text:focus,
.button.is-text.is-focused {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-text:active,
.button.is-text.is-active {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary:hover,
.button.is-primary.is-hovered {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary:focus,
.button.is-primary.is-focused {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary:active,
.button.is-primary.is-active {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary[disabled],
fieldset[disabled] .button.is-primary {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted:hover,
.button.is-primary.is-inverted.is-hovered {
  background-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted[disabled],
fieldset[disabled] .button.is-primary.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-outlined {
  border-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined.is-focused {
  background-color: rgb(91, 116, 36);
  border-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-outlined {
  border-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted.is-outlined:hover,
.button.is-primary.is-inverted.is-outlined.is-hovered,
.button.is-primary.is-inverted.is-outlined:focus,
.button.is-primary.is-inverted.is-outlined.is-focused {
  background-color: rgb(255, 255, 255);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-light {
  background-color: rgb(247, 250, 239);
  color: rgb(141, 179, 56);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-light:hover,
.button.is-primary.is-light.is-hovered {
  background-color: rgb(247, 250, 239);
  color: rgb(141, 179, 56);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button.is-primary.is-light:active,
.button.is-primary.is-light.is-active {
  background-color: rgb(247, 250, 239);
  color: rgb(141, 179, 56);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.button[disabled],
fieldset[disabled] .button {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.content table th {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.content table thead td,
.content table thead th {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.content table tfoot td,
.content table tfoot th {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification code,
.notification pre {
  background: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-primary {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.notification.is-primary.is-light {
  background-color: rgb(247, 250, 239);
  color: rgb(141, 179, 56);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress::-webkit-progress-value {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress::-moz-progress-bar {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress::-ms-fill {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-primary::-webkit-progress-value {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-primary::-moz-progress-bar {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.progress.is-primary::-ms-fill {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table {
  background-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-primary,
.table th.is-primary {
  background-color: rgb(91, 116, 36);
  border-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table td.is-selected,
.table th.is-selected {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table th {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table tr.is-selected {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table tr.is-selected td,
.table tr.is-selected th {
  border-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table thead td,
.table thead th {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.table tfoot td,
.table tfoot th {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body) {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-primary {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tag:not(body).is-primary.is-light {
  background-color: rgb(247, 250, 239);
  color: rgb(141, 179, 56);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.title {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.subtitle {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.subtitle strong {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select select,
.textarea,
.input {
  background-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select select::-moz-placeholder,
.textarea::-moz-placeholder,
.input::-moz-placeholder {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select select::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select select:-moz-placeholder,
.textarea:-moz-placeholder,
.input:-moz-placeholder {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select select:-ms-input-placeholder,
.textarea:-ms-input-placeholder,
.input:-ms-input-placeholder {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.is-primary.textarea,
.is-primary.input {
  border-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.radio:hover,
.checkbox:hover {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-primary:not(:hover)::after {
  border-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-primary select {
  border-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.select.is-primary select:hover,
.select.is-primary select.is-hovered {
  border-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary .file-cta {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary:hover .file-cta,
.file.is-primary.is-hovered .file-cta {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary:focus .file-cta,
.file.is-primary.is-focused .file-cta {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file.is-primary:active .file-cta,
.file.is-primary.is-active .file-cta {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file-label:hover .file-cta {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file-label:active .file-cta {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.file-cta {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.label {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.help.is-primary {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.control.has-icons-left .input:focus ~ .icon,
.control.has-icons-left .select:focus ~ .icon,
.control.has-icons-right .input:focus ~ .icon,
.control.has-icons-right .select:focus ~ .icon {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.breadcrumb li.is-active a {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.card {
  background-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.card-header-title {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.dropdown-content {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.dropdown-item {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.menu-list a {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.menu-list a:hover {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-primary {
  background-color: rgb(247, 250, 239);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-primary .message-header {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message.is-primary .message-body {
  border-color: rgb(91, 116, 36);
  color: rgb(141, 179, 56);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message-header {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message-body {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.message-body code,
.message-body pre {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.modal-card-title {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.modal-card-body {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-brand > .navbar-item,
.navbar.is-primary .navbar-brand .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-brand > a.navbar-item:focus,
.navbar.is-primary .navbar-brand > a.navbar-item:hover,
.navbar.is-primary .navbar-brand > a.navbar-item.is-active,
.navbar.is-primary .navbar-brand .navbar-link:focus,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand .navbar-link.is-active {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-brand .navbar-link::after {
  border-color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar.is-primary .navbar-burger {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .navbar.is-primary .navbar-start > .navbar-item,
  .navbar.is-primary .navbar-start .navbar-link,
  .navbar.is-primary .navbar-end > .navbar-item,
  .navbar.is-primary .navbar-end .navbar-link {
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-start > a.navbar-item:focus,
  .navbar.is-primary .navbar-start > a.navbar-item:hover,
  .navbar.is-primary .navbar-start > a.navbar-item.is-active,
  .navbar.is-primary .navbar-start .navbar-link:focus,
  .navbar.is-primary .navbar-start .navbar-link:hover,
  .navbar.is-primary .navbar-start .navbar-link.is-active,
  .navbar.is-primary .navbar-end > a.navbar-item:focus,
  .navbar.is-primary .navbar-end > a.navbar-item:hover,
  .navbar.is-primary .navbar-end > a.navbar-item.is-active,
  .navbar.is-primary .navbar-end .navbar-link:focus,
  .navbar.is-primary .navbar-end .navbar-link:hover,
  .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: rgb(91, 116, 36);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-start .navbar-link::after,
  .navbar.is-primary .navbar-end .navbar-link::after {
    border-color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-primary .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(91, 116, 36);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }

  .navbar.is-primary .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(91, 116, 36);
    color: rgb(255, 255, 255);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.navbar-burger {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.navbar-item,
.navbar-link {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: rgb(91, 116, 36);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    background-color: rgb(91, 116, 36);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.pagination-previous,
.pagination-next,
.pagination-link {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-primary .panel-heading {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-primary .panel-tabs a.is-active {
  border-bottom-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel.is-primary .panel-block.is-active .panel-icon {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel-heading {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel-list a {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.panel-block {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tabs a {
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tabs a:hover {
  border-bottom-color: rgb(91, 116, 36);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tabs.is-boxed li.is-active a {
  background-color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .title {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .subtitle {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .subtitle a:not(.button),
.hero.is-primary .subtitle strong {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .hero.is-primary .navbar-menu {
    background-color: rgb(91, 116, 36);
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  }
}

.hero.is-primary .navbar-item,
.hero.is-primary .navbar-link {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary a.navbar-item:hover,
.hero.is-primary a.navbar-item.is-active,
.hero.is-primary .navbar-link:hover,
.hero.is-primary .navbar-link.is-active {
  background-color: rgb(91, 116, 36);
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .tabs a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .tabs.is-boxed a,
.hero.is-primary .tabs.is-toggle a {
  color: rgb(255, 255, 255);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.hero.is-primary .tabs.is-boxed li.is-active a,
.hero.is-primary .tabs.is-boxed li.is-active a:hover,
.hero.is-primary .tabs.is-toggle li.is-active a,
.hero.is-primary .tabs.is-toggle li.is-active a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(91, 116, 36);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}