
// sass variables
$primary: var(--primary)
$scheme-main: var(--scheme-main)
$text: var(--text)
$text-strong: var(--text-strong)


// declared base css variables
#{":root"}
  --primary: rgb(91, 116, 36)
  --scheme-main: rgb(91, 116, 36)
  --text: rgb(91, 116, 36)
  --text-strong: rgb(91, 116, 36)


// derived, generated css variables
#{":root"}
  --primary--color-invert: rgb(255, 255, 255)
  --primary--dark-color: rgb(141, 179, 56)
  --primary--light-color: rgb(247, 250, 239)

  --text--color-invert: rgb(255, 255, 255)

