<template>
    <card-modal/>
</template>

<script>
	import CardModal from "../CardModal";
    export default {
		name: "ForgotPassword",
        components: {CardModal}
    }
</script>

<style scoped>

</style>
