<template>
    <div class="product-actions">
        <b-tooltip :active="buyText.length === 0" class="control" label="Купить" position="is-bottom" type="is-dark">
            <b-button :label="buyText" type="is-white" icon-left="cart" outlined/>
        </b-tooltip>
        <b-tooltip :active="false" class="control" v-if="hasOneClick">
            <b-button label="Купить в один клик"
                      @click="openModalOneClick"
                      type="is-warning"
                      icon-left="cursor-default-click"
                      outlined
            />
        </b-tooltip>
        <b-tooltip class="control" label="В избранное" position="is-bottom">
            <b-button type="is-danger" icon-left="heart" outlined/>
        </b-tooltip>
        <b-tooltip class="control" label="Сравнить" position="is-bottom" type="is-success">
            <b-button type="is-success" icon-left="compare" outlined/>
        </b-tooltip>
    </div>
</template>

<script>
    import ForgotPassword from "../../../modal/CardModal/ForgotPassword/ForgotPassword";
    import OneClick from "../../../modal/CardModal/OneClick/OneClick";

    export default {
        name: 'ProductActions',
        props: {
            hasOneClick: false,
            buyText: ''
        },
        data() {
            return {

            }
        },
        methods: {
            openModalOneClick() {
                this.$buefy.modal.open({
                    parent: this,
                    component: OneClick,
                    hasModalCard: true,
                    customClass: 'custom-class custom-class-2',
                    trapFocus: true
                })
            }
        }
    };
</script>

<style scoped>
    .product-actions {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
</style>
