<template>
    <parallax class="parralax-bg" :speed-factor="0.3">
        <img src="https://images.unsplash.com/photo-1566897819059-db42e135fa69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80">
    </parallax>
</template>

<!--https://github.com/apertureless/vue-parallax#props-->
<script>
    import Parallax from "vue-parallaxy";

    export default {
        name: 'ParallaxBg',
        components: {
            Parallax
        }
    };
</script>

<style>
    .parralax-bg.Masthead{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
</style>
