<template>
    <div class="columns is-align-items-center">
        <div class="column is-one-quarter">
            <b-field label="Name">
                <b-input v-model="name" minlength="2" maxlength="30"></b-input>
            </b-field>
            <b-field label="Email">
                <b-input type="email"
                         maxlength="30">
                </b-input>
            </b-field>
            <b-field label="Password">
                <b-input type="password"
                         value="iwantmytreasure"
                         maxlength="30"
                         password-reveal>
                </b-input>
            </b-field>
            <b-button type="is-primary">Регистрация</b-button>
            <b-button type="is-danger"
                      icon-left="cancel"
            >
                Очистить
            </b-button>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Register',
        data() {
            return {
                name: 'John Silver'
            }
        }
    };
</script>
