<template>
    <div class="columns is-align-items-center">
        <div class="column is-one-quarter">
            <b-field label="Email">
                <b-input type="email"
                         value="john@"
                         maxlength="30">
                </b-input>
            </b-field>
            <b-field label="Password">
                <b-input type="password"
                         value="iwantmytreasure"
                         minlength="6"
                         maxlength="40"
                         password-reveal>
                </b-input>
            </b-field>
            <b-button type="is-primary">Войти</b-button>
            <b-button type="is-primary is-light"
                      @click="openModalForgotPass"
            >
                Забыли пароль
            </b-button>
        </div>
    </div>
</template>

<script>
    import ForgotPassword from "../../../../modal/CardModal/ForgotPassword/ForgotPassword";

    export default {
        name: 'Auth',
        methods: {
            openModalForgotPass() {
                this.$buefy.modal.open({
                    parent: this,
                    component: ForgotPassword,
                    hasModalCard: true,
                    customClass: 'custom-class custom-class-2',
                    trapFocus: true
                })
            }
        }
    };
</script>
