<template>
    <b-carousel-list class="carousel-with-cards" v-model="test" :data="items" :items-to-show="3">
        <template #item="list">
            <product-card :item="list"/>
        </template>
    </b-carousel-list>
</template>

<script>
    import ProductCard from "../../ProductCard/ProductCard";
    import catalog from "../../../../../testData/catalog.json"
    export default {
        name: 'WithCards',
        components: {ProductCard},
        data() {
            return {
                items: catalog.items
            }
        }
    };
</script>

<style>
    .tile {
        max-width: 100%;
    }

    .carousel-list .carousel-slides .carousel-slide {
        padding: 0 5px;
    }

    .tab-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .carousel-list .carousel-slides .carousel-slide .card {
        box-shadow: none;
    }

    .carousel-list.has-shadow {
        box-shadow: none;
    }

    .carousel-list .carousel-slides .card {
        padding: 0.5rem;
    }
    .carousel-list .carousel-slides img {
        border-radius: 3px 3px 0 0;
    }
</style>
