<template>
    <div class="Search">
        <b-field>
            <b-dropdown aria-role="list">
                <template #trigger="{ active }">
                    <b-button
                        label="Фильтр"
                        type="is-dark"
                        class="button-filter"
                        :icon-right="active ? 'close' : 'filter'" />
                </template>

                <b-dropdown-item aria-role="menu-item"
                                 :focusable="false"
                                 custom
                                 paddingless
                                 class="mb-5"
                >
                    <b-field label="Цена:">
                        <b-slider size="is-medium"
                                  :value="getPriceSlider"
                                  :min="0"
                                  :max="10000"
                        >
                            <template v-for="val in [0, 2000, 4000, 6000, 8000, 10000]">
                                <b-slider-tick :value="val" :key="val">{{ val }}</b-slider-tick>
                            </template>
                        </b-slider>
                    </b-field>
                    <div class="columns mt-2">
                        <div class="column">
                            <b-field label="От">
                                <b-numberinput v-model="min" :controls="false" size="is-small"></b-numberinput>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field label="До">
                                <b-numberinput v-model="max" :controls="false" size="is-small"></b-numberinput>
                            </b-field>
                        </div>
                    </div>
                </b-dropdown-item>
                <b-dropdown-item aria-role="menu-item"
                                 :focusable="false"
                                 custom
                                 paddingless
                                 class="mb-3"
                >
                    <b-field label="Выберите категории">
                        <b-taginput
                            v-model="tags"
                            :data="filteredDataArray"
                            autocomplete
                            field="data"
                            icon="label"
                            placeholder="Добавить"
                            @typing="data"
                            :open-on-focus="true"
                        >
                            <template v-slot="props">
                                {{props.option}}
                            </template>
                            <template #empty>
                                There are no items
                            </template>
                        </b-taginput>
                    </b-field>
                </b-dropdown-item>
                <b-dropdown-item aria-role="menu-item"
                                 :focusable="false"
                                 custom
                                 paddingless
                >
                    <b-button type="is-primary">
                        <strong>
                            Поиск
                        </strong>
                    </b-button>
                </b-dropdown-item>
            </b-dropdown>
            <b-autocomplete
                class="is-dark"
                v-model="name"
                ref="autocomplete"
                :data="filteredDataArray"
                placeholder="e.g. Orange"
                icon="magnify"
                clearable
                keep-first
                @select="option => selected = option">
                <template #empty>Нет результатов с {{name}}</template>
            </b-autocomplete>
        </b-field>
    </div>
</template>

<script>
    export default {
        name: 'Search',
        data() {
            return {
                data: [
                    'Orange',
                    'Apple',
                    'Banana',
                    'Pear',
                    'Lemon',
                    'Strawberry',
                    'Kiwi'
                ],

                name: '',
                selected: null,
                min: 0,
                max: 10000,

                isSelectOnly: false,
                tags: []
            }
        },
        methods: {
            removeDiffFromArr(a1, a2) {
                return a1.filter((i) => {
                    return a2.indexOf(i)<0;
                })
            }
        },
        computed: {
            getPriceSlider() {
                return [this.min, this.max];
            },
            filteredDataArray() {
                return this.removeDiffFromArr(this.data.filter((option) => {
                    return option
                        .toString()
                        .toLowerCase()
                        .indexOf(this.name.toLowerCase()) >= 0
                }), JSON.parse(JSON.stringify(this.tags)));
            }
        }
    };
</script>

<style>
    .dropdown-menu {
        min-width: 18rem !important;
    }
    .dropdown-content {
        padding: 1.2em;
    }
    .button-filter {
        border-radius: 4px 0 0 4px;
    }

    .taginput .taginput-container {
        padding-right: 1px !important;
    }

    .autocomplete input {
        border-color: var(--card-bg) !important;
    }

    .autocomplete .input:focus {
        box-shadow: none !important;
    }
</style>
